<div class="product-card product-card-list">
  <div>
    <div class="list-view-item_image-column">
      <div class="list-view_image-wrapper">
      {% unless product.featured_media == null %}
        <img class="list-view-item__image" src="{{ product.featured_media | img_url: '95x95', scale: 2 }}" alt="{{ product.featured_media.alt }}">
      {% endunless %}
      </div>
    </div>
    <div class="list-view_title-column">
      <div class="list-view_title" aria-hidden="true">
        <span class="product-card_title">{{ product.title }}</span>
      </div>
      {% if show_vendor %}
        <div class="list-view_vendor">{{ product.vendor }}</div>
      {% endif %}
    </div>
    <div class="list-view_price-column">
      {% include 'product-price-listing', product: product, show_vendor: false %}
    </div>
  </div>
</div>
